h1, h2, h3, p, button, li, label, span, #inventoryDisplay, #update-accounts  {
    font-family: 'Gemunu Libre', sans-serif;
}

h1, h2, h3 {
    margin-left: 0.2em;
}

#grid-1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

#button-1 {
    grid-column: 1;
    border: none;
    background: none;
    text-decoration: none;
    letter-spacing: .2rem;
    font-size: 1em;
}

#button-2 {
    grid-column: 3;
    border: none;
    background: none;
    text-decoration: none;
    letter-spacing: .2rem;
    font-size: 1em;
}

.manage {
    margin-left: 0.2em;   
}

#update-accounts {
    margin-left: 0.2em;
}

#button-space {
    letter-spacing: .2rem;
    font-size: 1em;
}

#button-span {
    grid-column: 2;
    margin-left: auto;
    margin-right: 1em;
}

#button-span-main {
    grid-column: 2;
    margin-left: auto;
    margin-right: 1em;
    border: none;
    background: none;
    text-decoration: none;
    letter-spacing: .2rem;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link#button-1, a:visited#button-1, a:link.manage, a:visited.manage, a:link#button-2, a:visited#button-2, a:link#button-span-main, a:visited#button-span-main, a:link#update-accounts, a:visited#update-accounts {
    color: #3a3a3a;
}
  
a:hover#button-1, a:hover#button-2, a:hover#update-accounts, a:hover.manage, a:hover#button-span-main {
    color: #4c96d7;
}


nav ul {
    display: grid;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

nav ul li{
    list-style-type: none;
    color: #ffffff;
    text-align: center;
}

nav ul a {
    color: #ffffff;
    text-decoration: none;
}

#grid-2 {
    background-color: #3a3a3a;
    height: 2em;
}

.container {
    position: relative;
    text-align: center;
    color: #4c96d7;
    line-height: 0.1em;
  }

.container h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}
  
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    text-align: left;
}

#delorean {
    width: 90%;
    height: 90%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container button {
    background-color: #4c96d7;
    color: #3a3a3a;
    width: 40%;
    height: 2.5em;
    font-size: 1.5em;
}

#review {
    line-height: 1.5em;
}

.footer {
    border-top: double;
    text-align: center;
}

.footer p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.grid-u {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1.5fr;
    text-align: center;
}

#i1 {
    grid-row: 1;
    grid-column: 1;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

#i2 {
    grid-row: 1;
    grid-column: 2;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

#i3 {
    grid-row: 2;
    grid-column: 1;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

#i4 {
    grid-row: 2;
    grid-column: 2;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.pic {
    background-color: #4c96d7;
    height: 60%;
}

/* For Table */

#inventoryDisplay {
    border-collapse: collapse;
    width: 100%;
}

#inventoryDisplay td, #inventoryDisplay th {
    border: 1px solid #ddd;
    padding: 8px;
}

#inventoryDisplay tr:nth-child(even){background-color: #f2f2f2;}

#inventoryDisplay tr:hover {background-color: #ddd;}

#inventoryDisplay th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4c96d7;
    color: white;
}

/* For vehicle display in classification view */
.inv-display {
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
}

.inv-display h2{
    font-size: 1rem;
}

.inv-display li {
    max-width: 250px;
    flex: 1 0 auto;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    
.inv-display div {
    width: 100%;
}

/* For vehicle details in vehicle view */
#inv-detail {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: auto auto;
    margin-bottom: 1em;
}
    
#inv-detail img {
    grid-row: 1;
    width: 90%;
    max-width: 500px;
}

#inv-info {
    grid-row: 2;
    display: grid;
    margin-left: 1em;
    margin-right: 1em;
    max-width: 90%;
}

@media only screen and (min-width: 600px) {
    .con {
        background-image: url("");
        background-color: white;
        margin: 1em;
        border-radius: 25px;
        border: 2px solid #4c96d7;
    }
    body {
        background-image: url("../images/site/checkerboard.jpg");
    }
    .top-left h5{
        font-size: 2em;
    }
    .top-left p{
        font-size: 1.75em;
    }
    .container button {
        position: absolute;
        top: 7.5em;
        left: 16px;
        text-align: center;
        background-color: #4c96d7;
        color: #000000;
        width: 20%;
        height: 1.5em;
        font-size: 1em;
    }
    #button-span-main {
        margin-right: 3em;
    }

    #all-info{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        background-color: white;
    }

    #thumbnails-area {
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        background-color: white;
    }

    #thumbnails-area img{
        width: 90%;
        max-width: 200px;
    }    

    #thumbnails-area img:hover {
        width: 130%;
    }

    .inv-display{
        grid-column: 2;
        grid-row: 1;
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    .inv-display {
        margin-left: auto;
        margin-right: auto;
    }
    
    .inv-display li{
        margin-bottom: .5em;
        border: 1px #ccc solid;
        list-style-type: none;
        flex: 1 1 auto;
    }
    
    .inv-display li img {
        max-width: 100%;
    }

    /* For vehicle details in vehicle view */
    #inv-detail {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
    }
        
    #inv-detail img {
        width: 70%;
        max-width: 500px;
    }

    #inv-info {
        display: grid;
        margin-left: 1em;
        margin-right: 1em;
    }
}

#review-form {
    border-style: ridge;
    margin: 1em;
}

#review-container {
    border-style: outset;
    margin: 1em;
}

.reviewText{
    margin-left: 1em;
}

#review-message{
    color: red;
}

p#delete-message{
    color: red;
    margin-left: 1em;
}

#delete-form {
    border-style: ridge;
    margin: 1em;
}

#delete-text {
    background-color: yellow;
}

#edit-form {
    border-style: ridge;
    margin: 1em;
}

#italic {
    font-style: italic;
}